<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <style>
        .headerDiv {
            background-color: darkgray;
            font: bold 70% 'DejaVu Sans';
        }

        footer {
            margin-top: 1rem;
        }
    </style>
</head>
<body>
<h1 style="background-color: darkgray">New article</h1>
<div>
    <p>Post Title</p>
    <input>
    <p>Text</p>
    <input>
    <button type="submit">Publish</button>
</div>
<footer class="headerDiv"><a href="index.html">Main Page</a></footer>
</body>
</html>