<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animal blog</title>
    <style>
        footer {
            margin-top: 1rem;
        }
    </style>
</head>
<body>
<h1 style="background-color: darkgray">Animal blog</h1>
<div>
    <ul>
        <li><a href="post.html">Post Title</a></li>
        <li><a href="post.html">Post Title</a></li>
        <li><a href="post.html">Post Title</a></li>
        <li><a href="post.html">Post Title</a></li>
        <li><a href="post.html">Post Title</a></li>
    </ul>
</div>
<div>
    <button>
        <a href="add_post.html" style="font: bold 70% 'DejaVu Sans'">Add new article</a>
    </button>
</div>
<footer style="background-color: darkgray; font: bold 70% 'DejaVu Sans'"><a href="contacts.html">Contacts</a></footer>
</body>
</html>