<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <style>
        .headerDiv {
                background-color: darkgray;
                font: bold 70% 'DejaVu Sans';
        }

        footer {
            margin-top: 1rem;
        }
    </style>
</head>
<body>
<div class="headerDiv"><a href="author.html">Author</a></div>
<h1 style="background-color: darkgray">Post Title</h1>
<div>Some interesting text about Post Title</div>
<footer class="headerDiv"><a href="index.html">Main Page</a></footer>
</body>
</html>